/* Basic styling */
* {
  box-sizing: border-box;
  /* Include padding and border in element's total width and height */
}

body {
  font-family: Arial, sans-serif;
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #c3dee7;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#app {
  background-color: white;
  border-radius: 1rem;
  min-width: 700px;
  max-width: 450px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
}

#boxes-container {
  border: 1px solid rgb(212, 205, 205);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

.table .row {
  display: flex;
  width: "100%";
  gap: 1rem;
  position: relative;
}

/* individual box container */
.box-container {
  width: 9rem;
  height: 9rem;

  position: relative;
  overflow: visible;
  border-radius: 1rem;
}

.box {
  height: 100%;
  width: 100%;
  position: absolute;
  border: 1px solid gray;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: transform 0.2s ease-in-out;
  background-color: rgb(108, 119, 133);
  color: white;
  font-size: 2rem;
  box-shadow: -27px -8px 35px -255px rgba(218, 102, 123, 1),
    -5px 8px 0px 0px rgb(135, 140, 146);
  z-index: 1;
}

.box-container .box-front {
  transform: rotateY(0);
  background-color: rgb(200, 240, 234);
  color: rgb(102, 84, 84);
}

.box-container .box-back {
  transform: rotateY(180deg);
  box-shadow: -27px -8px 35px -255px rgba(218, 102, 123, 1),
    -5px 8px 0px 0px rgb(149, 187, 236);
}

/* active class */
.box-container.active .box-back {
  transform: rotateY(0);
}
.box-container.active .box-front {
  transform: rotateY(180deg);
}

h2 {
  color: rgb(113, 105, 226);
}

.match-animation.box-container .box {
  animation: matched 0.6s, border-shine 1s forwards;
  background-color: rgb(108, 119, 133);
}

@keyframes matched {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes border-shine {
  0% {
    border-color: rgba(255, 215, 0, 0); 
    box-shadow: 0 0 0 rgba(255, 215, 0, 0); 
  }
  50% {
    border-color: rgba(255, 215, 0, 1); 
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5), 0 0 20px rgba(255, 215, 0, 0.5); 
  }
  100% {
    border-color: rgba(255, 215, 0, 0); 
    box-shadow: 0 0 0 rgba(255, 215, 0, 0); 
  }
}
